/* Navigation */
nav{
    color: #fefcfb;
    background-color: rgba(10, 17, 40, 0.7);
}
.navbar {
    padding: 1rem;
}
.navbar-toggler{
    border-color: #fefcfb;
}
.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(254,252,251,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.nav .nav-item .nav-link {
    background-color: rgba(10, 17, 40, 0);
}
ul li a {
    color: #fefcfb;
}
ul li a:hover {
    color: #034078;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #034078;
}


/* section */
i {
    color: #034078;
}
hr {
    border-top: 2px solid #6c757d;
    width: 70%;
}
.page-section {
    padding: 7rem 0;
}
.matter {
    padding: 2rem 0 5rem;
}
.matter-list {
    padding-bottom: 4rem;
}
.blog {
    padding: 2rem 0 5rem;
}
.blog-list {
    padding-bottom: 4rem;
}
table tr{
    
}
thead {
    color: #fefcfb;
    background-color: #034078;
}
tbody tr td {
    padding: 3rem;
}


/* Footer */
footer {
    color: #fefcfb;
    background-color: #0A1128;
}
footer .container {
    padding: 1rem;
}
