html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}


#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color:　#000000;
}

#mainNav .navbar-toggler {
    padding: 0.75rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.75rem;
    color: #fff;
    text-transform: uppercase;
    background-color: #fed136;
    border: 0;
}

#mainNav .navbar-brand {
    color: #fed136;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.95rem;
    color: #fff;
    letter-spacing: 0.0625em;
}

#mainNav .navbar-nav .nav-item .nav-link:active {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.95rem;
    color: #fed136;
    letter-spacing: 0.0625em;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fed136;
}

@media (min-width: 992px) {
#mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: none;
    background-color: transparent;
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
}
#mainNav .navbar-brand {
    font-size: 1.5em;
    transition: font-size 0.3s ease-in-out;
}
#mainNav .navbar-brand img {
    height: 2rem;
    transition: height 0.3s ease-in-out;
}
#mainNav.navbar-shrink {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #212529;
}
#mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
}
#mainNav.navbar-shrink .navbar-brand svg,
#mainNav.navbar-shrink .navbar-brand img {
    height: 1.5rem;
}
#mainNav .navbar-nav .nav-item {
    margin-right: 1rem;
}
#mainNav .navbar-nav .nav-item:last-child {
    margin-right: 0;
}
}


#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.blog-section {
    background-color: #c6c8ca;
}

.blog {
    width: 75%;
    margin: auto;
    padding-top: 2rem;
}

.blog hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.d-flex h3{
    margin-left: 60px;
}

.d-flex .content {
    margin-left: 130px;
}

.container-fluid hr {
    width: 100%;
}

.text-center{
    margin-top: 70px;
    margin-bottom: 70px;
}

footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    margin-top: auto;
}

