.navbar {
    margin-right: 
}
.navbar-brand {
    padding: 0;
}
.navbar-toggler {
    margin-right: 50px;
}
.collapse li {
    margin-right: 4rem;
    margin-left: 1rem;
}
.navbar-nav {
    margin-left: 90px;
}
.blog-section {
    background-color: #c6c8ca;
}
.blog {
    width: 75%;
    margin: auto;
    padding-top: 2rem;
}
.blog hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.list-group {
    margin: 4rem 0;
}
.d-flex h3{
    margin-left: 60px;
}
.d-flex .content {
    margin-left: 130px;
}
.container-fluid hr {
    width: 100%;
}
.text-center{
    margin-top: 70px;
    margin-bottom: 70px;
}
.img-flex-3 {
    margin-left: 90px; 
    margin-bottom: 5rem;
}
.img-flex-3 .img1 {
    margin-right: 40px;
}
.img-flex-3 .img2 {
    margin-left: 80px;
}
.img-flex-3 .img3 {
    margin-left: 70px;
}
footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
}
footer h5 {
    margin-bottom: 2rem;
}
