{% extends "app/base.html" %}
{% load widget_tweaks %}


{% block post %}
<div class="account">
    <h3 class="text-center">
        <a class="text-dark" href="/">TC LOGO</a>
    </h3>
    <div class="col-2 card card-auth mx-auto">
        <div class="card-body">
            <h4 class="text-center">Login</h4>
            <form method="post" class="form-auth">
                {% csrf_token %}
                <div class="mt-3">
                    {% render_field form.login class="form-control" placeholder="ユーザー名" %}
                </div>
                <div class="my-3">
                    {% render_field form.password class="form-control" placeholder="パスワード" %}
                </div>
                <div class="text-center my-3">
                    <button class="btn btn-secondary" type="submit">ログイン</button>
                </div>
            </form>
            <h5 class="text-center mb-0">
                <a class="text-dark" href="/">Top Page</a>
            </h5>
        </div>
    </div>
</div>
{% endblock %}