{% extends "app/base_account.html" %}

{% block post %}
<div class="account container">
    <div class="row">
        <div class="col-12 text-center">
            <i class="far fa-user-circle fa-5x"></i>
        </div>
        <div class="col-3 card card-auth mx-auto border-light shadow-sm pt-5">
            <p class="h5 text-center text-secondary">ログアウトしますか？</p>
            <div class="card-body">
                <form method="post" class="form-auth">
                    {% csrf_token %}
                    <div class="text-center">
                        <button class="btn btn-secondary account_btn" type="submit">ログアウト</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}