{% extends "app/base.html" %}

{% block work %}
<div class="account">
    <div class="col-3 card card-auth mx-auto">
        <div class="card-body">
            <p class="card-title text-center my-4">ログアウトしますか？</p>
            <form method="post" class="form-auth my-3">
                {% csrf_token %}
                <div class="text-center">
                    <button class="btn btn-warning" type="submit">Logout</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}