/* Navigation */
nav{
    color: #fefcfb;
    background-color: rgba(10, 17, 40, 0.7);
}
.navbar {
    padding: 1rem;
}
.navbar-toggler{
    border-color: #fefcfb;
}

.nav .nav-item .nav-link {
    background-color: rgba(10, 17, 40, 0);
}
ul li a {
    color: #fefcfb;
}
ul li a:hover {
    color: #034078;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #034078;
}


/* section */
i {
    color: #034078;
}
hr {
    border-top: 2px solid #6c757d;
    width: 70%;
}
.matter {
    padding: 2rem 0 5rem;
}
.matter-list {
    padding-bottom: 4rem;
}
.blog {
    padding: 2rem 0 5rem;
}
.blog-list {
    padding-bottom: 4rem;
}
thead {
    color: #fefcfb;
    background-color: #034078;
}
tbody tr {
    background-color: none;
}


/* Footer */
footer {
    color: #fefcfb;
    background-color: #0A1128;
}
footer .container {
    padding: 1rem;
}
