/* ALL_STYLE */
body {
    font-family: 'MS Pゴシック';
}
body #wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.btn_blue {
    background-color: #03045e;
}
.btn_red {
    background-color: #621708;
}
.btn_yellow {
    background-color: #c59100d7;
}
.list_title {
    background-color: #d3d3d3;
}
/* category */
.category_tag {
    transform: translate(-2rem, 0rem) rotate(-5deg);
    background-color: #621708;
    width: 150px;
    position: relative;
    z-index: 2;
}
.category_title {
    background-color: #d3d3d3;
}
.title_category {
    border: solid 1px #c0c0c0;
}
.list-unstyled .w-100 {
    border-bottom: 1px dotted #ccc;
}
/* badge */
.badge {
    background-color: #03045e;
}
.badge_member {
    background-color: #621708;
}
/* tag */
.tag_main{
    background-color: #03045e;
}
.tag_member{
    background-color: #621708;
}

/* NAVIBAR */
.navbar_main {
    background-color: #010a5cbe;
}
.navbar_member {
    background-color: #720505de;
}


/* IMAGE */
.jumbotron {
    background-image: url("...");
    background-color: #c0c0c0;
    background-size: cover;
    background-position: center 60%;
    height: 650px;
}
.post_list_img {
    background-image: url("...");
    background-color: #c0c0c0;
    background-size: cover;
    background-position: center 60%;
    height: 350px;
}
.jumbotron-fluid .display-4{
    color: #a0a0a0;
}
.jumbotron-fluid .display-3{
    color: #a0a0a0;
}
.jumbotron-fluid .w-50{
    color: #a0a0a0;
}
.mt-100{
    margin-top: 55px;
}

/* 案件 */
thead {
    color: #fefcfb;
    background-color: #03045e;
}
.category {
    background-color: #fafafa;
}

/* BLOG */
.card {
    width: 343px;
}
.card-title {
    font-size: 1.5rem;
}
.index-img {
    object-fit: cover;
    height: 240px;
}
.card-body .btn_main {
    background-color: #03045e;
}
.card-body .btn_member {
    background-color: #621708;
}
.post_container {
    margin: 100px auto;
}
/* BLOG詳細 */


/* お問い合わせ */
.contact .btn {
    background-color: #03045e;
}

/* FOOTER */
footer {
    margin-top: auto;
}
.footer_main {
    background-color: #03045e;
}
.footer_member {
    background-color: #621708;
}


/* サインイン, ログイン, ログアウト */
#account {
    height: 100%;
}
.account {
    margin-top: 150px;
}
.card-auth {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.1);
}