/* TOP_IMAGE */
/* .jumbotron {
    background-image: url("../img/main - image.png");
    background-size: cover;
    background-position: center 90%;
    height: 800px;
} */

/* .display-1 {
    padding-top: 230px;
    color: #ffffff;
    font-family: 'arial black'
}

.display-4 {
    color: #ffffff;
    font-family: 'arial black'
} */


/* ABOUT */
/* i {
    color: #034078;
} */


/* WORK */
thead {
    color: #fefcfb;
    background-color: #034078;
}

tbody tr {
    background-color: none;
}

/* FOOTER */

/* POST */
.card {
    margin-left: 2cm;
}

.card-title {
    font-size: 1.5rem;
}

.index-img {
    object-fit: cover;
    height: 240px;
}

/* POST_DETAIL */
.detail-img {
    object-fit: cover;
    width: 100%;
    height: 400px;
}
.post hr {
    border-top: 2px solid #c4c4c4;
    width: 100%;
    
}

.post {
    padding-top: 100px;
}


/* ACCOUNT */
.card-auth {
    width: 400px;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.1);
    margin-top: 200px;
}

.form-label-group {
    margin-bottom: 1rem;
}

.form-label-group input {
    border-radius: 2rem;
}

.form-control:focus {
    box-shadow: none;
}