/* ALL_STYLE */
body {
    font-family: 'MS Pゴシック';
}

body #wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.btn_blue {
    background-color: #03045e;
}

.btn_red {
    background-color: #621708;
}

.btn_yellow {
    background-color: #927115;
}

.list_title {
    background-color: #d3d3d3;
}

.btn-main {
    color: #fff;
    background-color: #03045e;
    border-color: #03045e;
}

.btn-main:hover {
    color: #fff;
    background-color: #0003c4;
    border-color: #0003c4;
}

.btn-member {
    color: #fff;
    background-color: #621708;
    border-color: #621708;
}

.btn-member:hover {
    color: #fff;
    background-color: #86220e;
    border-color: #86220e;
}

.btn-danger {
    color: #fff;
    background-color: #a51b00;
    border-color: #a51b00;
}

.btn-danger:hover {
    color: #fff;
    background-color: #ca2200;
    border-color: #ca2200;
}

.btn-warning {
    color: #fff;
    background-color: #ff9900;
    border-color: #ff9900;
}

.btn-warning:hover {
    color: #fff;
    background-color: #fab82b;
    border-color: #fab82b;
}
/* category */
.category_tag {
    transform: translate(-2rem, 0rem) rotate(-5deg);
    background-color: #621708;
    width: 150px;
    position: relative;
    z-index: 2;
}

.category_title {
    background-color: #d3d3d3;
}

.title_category {
    border: solid 1px #c0c0c0;
}

.list-unstyled .w-100 {
    border-bottom: 1px dotted #ccc;
}

/* badge */
.badge {
    background-color: #03045e;
}

.badge_member {
    background-color: #621708;
}

/* tag */
.tag_main {
    background-color: #03045e;
}

.tag_member {
    background-color: #621708;
}

/* NAVIBAR */
.navbar_main {
    background-color: #010a5cda;
}

.navbar_member {
    background-color: #621708e7;
}


/* IMAGE */
.jumbotron {
    background-image: url("...");
    background-color: #c0c0c0;
    background-size: cover;
    background-position: center 60%;
    height: 650px;
}

.post_list_img {
    background-image: url("...");
    background-color: #c0c0c0;
    background-size: cover;
    background-position: center 60%;
    height: 300px;
}

.jumbotron-fluid .display-4 {
    color: #a0a0a0;
}

.jumbotron-fluid .display-3 {
    color: #a0a0a0;
}

.jumbotron-fluid .w-50 {
    color: #a0a0a0;
}

.mt-100 {
    margin-top: 55px;
}

/* 案件 */
thead {
    color: #fefcfb;
    background-color: #03045e;
}

.category {
    background-color: #fafafa;
}

/* BLOG */
.card {
    width: 343px;
}

.card-title {
    font-size: 1.5rem;
}

.index-img {
    object-fit: cover;
    height: 240px;
}

.card-body .btn_main {
    background-color: #03045e;
}

.card-body .btn_member {
    background-color: #621708;
}

.card .card_border {
    border-color: #a51b00;
}

.card-footer {
    background-color: #e2e0e0;
    border: 3px solid #e2e0e0;
}

/* BLOG詳細 */


/* お問い合わせ */

/* FOOTER */
footer {
    margin-top: auto;
}

.footer_main {
    background-color: #03045e;
}

.footer_member {
    background-color: #621708;
}


/* サインイン, ログイン, ログアウト */
#account {
    height: 100%;
}

.account {
    margin-top: 150px;
}

.fa-5x {
    transform: translate(0rem, 2rem);
    position: relative;
    z-index: 2;
    color: #6c757d;
    text-shadow: 0 2px 3px rgb(36, 35, 35);
}
.account_btn {
    box-shadow: 0 2px 2px rgb(36, 35, 35);
}