nav {
    background-color: rgba(9, 9, 61, 0.808);
}

nav a h3 {
    margin-bottom: 0;
}

nav .container {
    padding: 8px 0;
}
.dropdown-menu .dropdown-item {
    background-color: #ffffff;
}
.jumbotron {
    background-image: url("../img/main - image.png");
    background-size: cover;
    background-position: center 90%;
    height: 800px;
}

.display-1 {
    padding-top: 230px;
    color: #ffffff;
    opacity: 0.8;
}

.display-4 {
    color: #ffffff;
    opacity: 0.8;
}

ul li a {
    color: #fefcfb;
}

ul li a:hover {
    color: #d3d3d3;
}

i {
    color: #034078;
}

hr {
    border-top: 2px solid #6c757d;
    width: 70%;
}

thead {
    color: #fefcfb;
    background-color: #034078;
}

tbody tr {
    background-color: none;
}

footer {
    color: #fefcfb;
    background-color: #0A1128;
}


/* post_detail */
.post hr {
    border-top: 2px solid #c4c4c4;
    width: 100%;
}

.post {
    padding-top: 100px;
}

@media (max-width: 992.98px) {
    .jumbotron {
        height: 750px;
    }

    .display-1 {
        padding-top: 270px;
        font-size: 70px;
    }

    .display-4 {
        font-size: 35px;
    }

    .navbar-brand {
        padding-left: 1rem;
    }

    .navbar-toggler {
        margin-right: 1rem;
    }

    div .col-md-4 {
        padding-bottom: 2rem;
    }
}

@media (max-width: 767.98px) {
    nav .container {
        padding: 5px 0;
    }

    .jumbotron {
        height: 700px;
    }

    .display-1 {
        padding-top: 250px;
        font-size: 55px;
    }

    .display-4 {
        font-size: 30px;
    }

    .navbar-brand {
        padding-left: 1rem;
    }

    .navbar-toggler {
        margin-right: 1rem;
    }

    div .col-md-4 {
        padding-bottom: 2rem;
    }
}

@media (max-width: 575.98px) {
    nav .container {
        padding: 0;
    }

    .jumbotron {
        height: 650px;
    }

    .display-1 {
        padding-top: 250px;
        font-size: 47px;
    }

    .display-4 {
        font-size: 30px;
    }

    .navbar-brand {
        padding-left: 1rem;
    }

    .navbar-toggler {
        margin-right: 1rem;
    }

    div .col-md-4 {
        padding-bottom: 2rem;
    }
}