/* OVERALL_STYLE */
body {
    font-family: 'MS Pゴシック';
}

/* NAVI */
.navbar_main {
    background-color: #023e8a;
}
.navbar_member {
    background-color: #720505;
}


/* TOP_IMAGE */
.jumbotron {
    background-image: url("...");
    background-color: #c0c0c0;
    background-size: cover;
    background-position: center 60%;
    height: 600px;
}

/* WORK */
thead {
    color: #fefcfb;
    background-color: #034078;
}
tbody tr {
    background-color: none;
}

/* POST */
.card-title {
    font-size: 1.5rem;
}

.index-img {
    object-fit: cover;
    height: 240px;
}
.card-body .btn {
    background-color: #023e8a;
}

/* POST_DETAIL */
.detail-img {
    object-fit: cover;
    width: 100%;
    height: 400px;
}
.post hr {
    border-top: 2px solid #c4c4c4;
    width: 100%;
    
}

.post {
    padding-top: 100px;
}


/* CONTACT */
.border .btn {
    background-color: #023e8a;
}

/* FOOTER */
.col-8 a {
    text-decoration: none;
}
.footer_main {
        background-color: #023e8a;
}
.footer_member {
        background-color: #720505;
}


/* ACCOUNT */
#account{
    height: 100%;
}
.account{
    margin-top: 150px;
}
.text-center .text-dark {
    text-decoration: none;
}
.card-auth {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.1);
}