{% load static %}
<!doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TC</title>
    <!-- Bootstrap4 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- StyleSheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- Navigation -->
    <header role="header">
        {% block navigation %}
        {% endblock %}
    </header>
    <main>
        <!-- Top_Image -->
        <img src="https://picsum.photos/1450/650" class="img-fluid">
        <!-- Company -->
        {% block company %}
        {% endblock %}
        
        <!-- Business -->
        {% block business %}
        {% endblock %}

        <!-- Work -->
        {% block work %}
        {% endblock %}

        <!-- Blog -->
        {% block post %}
        {% endblock %}

        <!-- Contact -->
        {% block contact %}
        {% endblock %}

    </main>
    <!-- Footer -->
    <footer class="footer pt-5 pb-1 bg-secondary">
        <div class="container">
            <div class="row text-center">
                <div class="col-6 text-light">
                    <h1>
                        <a class="text-light" href="{% url 'index'%}">TC</a>
                    </h1>
                </div>
                <div class="col-6">
                    <ul class="list-unstyled">
                        <li>
                            <a class="text-light" href="{% url 'index'%}#campany">会社情報</a>
                        </li>
                        <li>
                            <a class="text-light" href="{% url 'index'%}#business">業務内容</a>
                        </li>
                        <li>
                            <a class="text-light" href="{% url 'post_list'%}">BLOG</a>
                        </li>
                        <li>
                            <a class="text-light" href="/">お問い合わせ</a>
                        </li>
                        <li>
                            <a class="text-light" href="{% url 'member'%}">メンバー専用</a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr class="bg-light">
            <div class="text-center text-light">
                <p>&copy;2018 TC </p>
            </div>
        </div>
    </footer>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>
