{% extends 'app/base.html' %}

{% block navigation %}
<nav class="navbar navbar-expand-lg navbar-dark navbar_main" role="navigation">
    <div class="container">
        <a class="navbar-brand display-1 ml-4" href="{% url 'index'%}">TC</a>
        <button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#navbar"
            aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse nav justify-content-end ml-3" id="navbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index'%}#company">会社情報</a>
                </li>
                <li class="nav-item ml-5">
                    <a class="nav-link" href="{% url 'index'%}#business">業務内容</a>
                </li>
                <li class="nav-item ml-5">
                    <a class="nav-link" href="{% url 'post_list'%}">BLOG</a>
                </li>
                <li class="nav-item ml-5">
                    <a class="nav-link" href="/">お問い合わせ</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block company %}
<section class="py-5" id="company">
    <div class="container">
        <div class="text-center col-12">
            <h1 class="section-heading">会社情報</h1>
            <hr class="w-25">
            <div class="row align-items-center">
                <div class="col-6">
                    <img src="https://placehold.jp/300x300.png" alt="..." class="img-thumbnail" loading="lazy">
                </div>
                <div class="col-6">
                    <h3>タイトル</h3>
                    <p>そこも今日はなはだこの授業方というのの限りをするんで。もちろん今日で試験年もそんなにこの説明たあっともへ解らていなをは養成さですたて、まだにはあるないませました。</p>
                </div> 
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block business %}
<section class="py-5 bg-light" id="business">
    <div class="container">
        <div class="text-center col-12 pb-5">
            <h1 class="section-heading">業務内容</h1>
            <hr class="w-25">
            <div class="row  align-items-center">
                <div class="col-6">
                    <h3 class="">タイトル</h3>
                    <p>そこも今日はなはだこの授業方というのの限りをするんで。もちろん今日で試験年もそんなにこの説明たあっともへ解らていなをは養成さですたて、まだにはあるないませました。</p>
                </div>
                <div class="col-6">
                    <img src="https://placehold.jp/300x300.png" alt="..." class="img-thumbnail" loading="lazy">
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block post %}
<section class="" id="info">
    <div class="container">
        <div class="text-center my-5">
            <h1>BLOG</h1>
            <hr class="w-25">
        </div>
        <div class="row mb-5 justify-content-center">
            {% if post_data %}
            {% for post in post_data %}
            <div class="card col-md-3 my-3 mx-md-3">
                {% if post.image %}
                <img class="card-img-top index-img" src="{{ post.image.url }}" alt="">
                {% endif %}
                <div class="card-body">
                    <h6 class="card-title">{{ post.title|truncatechars:9 }}</h6>
                    <p>{{ post.category }}</p>
                    <a class="btn btn-outline-secondary" href="{% url 'post_detail' post.id %}">詳細</a>
                    <small class="text-muted">{{ post.published_date }}</small>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <h3 class="col-12">新しい投稿はありません</h3>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}

{% block contact %}
<section class="py-5 bg-light" id="contact">
    <div class="container">
        <div class="text-center col-12 pb-5">
            <h1 class="section-heading">お問い合わせ</h1>
            <hr class="w-25">
        </div>
    </div>
</section>
{% endblock %}