{% extends 'app/base.html' %}

{% block blog %}
<section class="page-section bg-light" id="works">
    <div class="container">
        <div class="row text-center matter-list">
            <div class="col-12 matter">
                <h1 class="section-heading">案件</h1>
                <hr>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr class="table-heading">
                        <th>案件</th>
                        <th>詳細</th>
                        <th>価格</th>
                    </tr>
                </thead>
                {% for work in work_data %}
                <tbody>
                    <tr>
                        <td><a href="{% url 'work_detail' work.id %}">{{ work.title }}</a></td>
                        <td>{{ work.text }}</td>
                        <td>{{ work.price }}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</section>

<section class="page-section" id="blog">
    <div class="container">
        <div class="row text-center blog-list">
            <div class="col-12 blog">
                <h1 class="section-heading">ブログ</h1>
                <hr>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr class="table-heading">
                        <th>日付</th>
                        <th>題名</th>
                    </tr>
                </thead>
                {% for post in post_data %}
                <tbody>
                    <tr>
                        <td>{{ post.published_date }}</td>
                        <td>{{ post.title }}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</section>

{% endblock %}