{% extends 'app/base_member.html' %}

{% block Image %}
<div class="jumbotron jumbotron-fluid mb-0 d-flex justify-content-center mh-100">
    <div class="d-flex flex-column justify-content-center">
        <h1 class="display-3" style="color: #a0a0a0">Members Only</h1>
    </div>
</div>
{% endblock %}

{% block work %}
<section class="py-1 bg-light" id="work">
    <div class="container">
        <div class="row my-5 justify-content-center border-light border rounded py-5 px-2">
            <div class="text-center col-12 pb-5">
                <h1>案件情報</h1>
                <hr class="w-25">
            </div>
            <div class="row">
                {% for work in work_data %}
                <div class="card mb-3 px-0 shadow-sm col-12">
                    <div class="card-body">
                        <h2 class="card-title">{{ work.title }}</h2>
                        <p class="card-text">{{ work.content|truncatechars:100 }}</p>
                        <div class="btn btn-member">
                            <a class="text-light stretched-link" href="{% url 'work_detail' work.id %}">詳細</a>
                        </div>
                    </div>
                    <div class="card-footer">
                        {{ work.created|date }} by {{ work.author }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block post %}
<section class="py-1" id="info">
    <div class="container">
        <div class="text-center my-5">
            <h1>BLOG</h1>
            <hr class="w-25">
        </div>
        <div class="row mb-5 justify-content-center">
            {% if post_data %}
            {% for post in post_data %}
            <div class="card col-md-3 my-3 mx-md-3">
                {% if post.image %}
                <img class="card-img-top index-img" src="{{ post.image.url }}" alt="">
                {% endif %}
                <div class="card-body">
                    <h6 class="card-title">{{ post.title|truncatechars:9 }}</h6>
                    <p>{{ post.category }}</p>
                    <a class="btn btn-member" href="{% url 'post_detail_member' post.id %}">詳細</a>
                    <small class="text-muted">{{ post.published_date }}</small>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <h3 class="col-12 text-center">新しい投稿はありません</h3>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}