{% extends "app/base.html" %}

{% block post %}
<div class="container post">
    <h1 class="pb-3">{{ post_data.title }}</h1>
    <hr class="mt-1">
    <p class="py-3">{{ post_data.published_date }} by {{ post_data.author }}</p>
    {% if post_data.image %}
    <hr>
    <img class="rounded detail-img" src="{{ post_data.image.url }}" alt="">
    {% endif %}
    <hr>
    <p class="py-5">{{ post_data.text|linebreaksbr }}</p>
    <hr class="pt-5 mb-0">
    {% if user.is_authenticated %}
    <div class="d-flex mb-5">
        <a class="btn btn-warning mr-3" href="{% url 'post_edit' post_data.id %}">編集する</a>
        <a class="btn btn-danger" href="{% url 'post_delete' post_data.id %}">削除する</a>
    </div>
    {% endif %}
</div>
{% endblock %}