{% extends "app/base.html" %}

{% block blog %}
<div class="container post">
    <h1 class="pb-3">{{ post_data.title }}</h1>
    <hr class="mt-1">
    <p class="py-3">{{ post_data.published_date }} by {{ post_data.author }}</p>
    <hr>
    <p class="py-5">{{ post_data.text|linebreaksbr }}</p>
    {% if user.is_authenticated %}
    <hr class="pt-5 mb-0">
    <div class="d-flex mb-5">
        <a class="btn btn-warning mr-3" href="">編集する</a>
        <a class="btn btn-danger" href="">削除する</a>
    </div>
    {% endif %}
</div>
{% endblock %}
