{% extends "app/base.html" %}

{% block Image %}
<div class="jumbotron-fluid mb-0 mt-100 d-flex justify-content-center post_list_img">
    <div class="d-flex flex-column justify-content-center">
        <h1 class="display-4">BLOG詳細</h1>
        <hr class="w-50">
    </div>
</div>
{% endblock %}

{% block post %}
<div class="container my-5 border border-light py-3 px-5 rounded">
    {% if user.is_authenticated %}
    <div class="category_tag tag_member text-light text-center rounded">{{ post_data.category }}</div>
    {% else %}
    <div class="category_tag tag_main text-light text-center rounded">{{ post_data.category }}</div>
    {% endif %}
    <div class="row">
        <div class="col-8 border bg-primar rounded shadow-sm">
            <p class="mt-4">
                <small class="font-weight-bold">{{ post_data.published_date }} - {{ post_data.author }}</small>
            </p>
            <h3 class="col-5">{{ post_data.title }}</h3>
            <div class="container">
                <hr class="my-5 w-100 shadow">
                <p class="my-5">{{ post_data.text|linebreaksbr }}</p>
            </div>
        </div>
        <div class="col-md-4">
            {% if user.is_authenticated %}
            <div class="title_category h5 p-2 tag_member category_title rounded text-light mb-3">カテゴリ</div>
            <ul class="list-unstyled">
                {% for category in category_data %}
                <li>
                    <a class="text-dark " href="{% url 'category' category %}">
                        {{ category.name }}
                    </a>
                    <hr class="w-100 my-3">
                </li>
                {% endfor %}
            </ul>
            <div class="col-12 btn btn-warning text-light my-2">
                <a class="text-light h5" href="{% url 'post_edit' post_data.id %}">編集</a>
            </div>
            <div class="col-12 btn btn-danger text-light my-2">
                <a class="text-light h5" href="{% url 'post_delete' post_data.id %}">削除</a>
            </div>
            {% else %}
            <div class="title_category h5 mb-0 p-2 tag_main category_title shadow-sm rounded text-light mb-3">カテゴリ</div>
            <ul class="list-unstyled">
                {% for category in category_data %}
                <li>
                    <a class="text-dark " href="{% url 'category' category %}">
                        {{ category.name }}
                    </a>
                    <hr class="w-100 my-3">
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}