{% extends 'app/base.html' %}


{% block Image %}
<div class="jumbotron jumbotron-fluid mb-0 d-flex justify-content-center mh-100">
    <div class="d-flex flex-column justify-content-center">
        <h1 class="display-3" style="color: #a0a0a0">Blog</h1>
    </div>
</div>
{% endblock %}

{% block post %}
<div class="container post mb-5">
    <div class="row">
        <div class="col-md-8">
            {% if keyword %}
            <h4 class="mb-4">「{{ keyword }}」の検索結果</h4>
            {% endif %}
            {% for post in post_data %}
            <div class="card mb-4 index">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text">{{ post.content|truncatechars:100 }}</p>
                    <div class="btn btn_member">
                        <a class="text-light stretched-link" href="{% url 'post_detail' post.id %}">詳細</a>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    {{ post.created|date }} by {{ post.author }}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-12">
                    <div class="title_category h5 p-3 mb-0 category_title rounded text-dark">カテゴリ</div>
                    {% for category in category_data %}
                    {% if user.is_authenticated %}
                    <a class="text-light badge badge_member font-weight-light" href="{% url 'category' category %}">
                        {{ category.name }}
                    </a>
                    {% else %}
                    <a class="text-light badge font-weight-light" href="{% url 'category' category %}">
                        {{ category.name }}
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}