{% extends "app/base_member.html" %}

{% block Image %}
<div class="jumbotron-fluid post_list_img mb-0 mt-100 d-flex justify-content-center mh-100">
    <div class="d-flex flex-column justify-content-center">
        <h1 class="display-4">案件</h1>
        <hr class="w-50">
    </div>
</div>
{% endblock %}

{% block work %}
<div class="container my-5 border border-light py-3 px-5 rounded">
    <div class="category_tag text-light text-center rounded">{{ work_data.work_category }}</div>
    <div class="row">
        <div class="col-md-8 border bg-primar rounded">
            <p class="mt-4">
                <small class="font-weight-bold">{{ work_data.published_date }}</small>
            </p>
            <h3 class="col-5">{{ work_data.title }}<small class="pl-3">¥{{ work_data.price }}</small></h3>
            <div class="container">
                <div class="row py-4">
                    <ul class="list-group list-group-horizontal col-12">
                        <li class="list-group-item col-2 list_title text-center">現場住所</li>
                        <li class="list-group-item col-10">{{ work_data.address }}</li>
                    </ul>
                    <ul class="list-group list-group-horizontal col-12 my-3">
                        <li class="list-group-item col-2 list_title text-center">担当者</li>
                        <li class="list-group-item col-10">{{ work_data.staff }}</li>
                    </ul>
                    <ul class="list-group list-group-horizontal col-12">
                        <li class="list-group-item col-2 list_title text-center">電話番号</li>
                        <li class="list-group-item col-10">{{ work_data.tel }}</li>
                    </ul>
                    <ul class="list-group list-group-horizontal col-12 my-3">
                        <li class="list-group-item col-2 text-center list_title">作業内容</li>
                        <li class="list-group-item col-10">{{ work_data.text|linebreaksbr }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="title_category h5 p-2 tag_member category_title rounded text-light mb-3">カテゴリ</div>
            <ul class="list-unstyled">
                {% for work_category in work_category_data %}
                <li>
                    <a class="text-dark"
                        href="{% url 'work_category' work_category %}">
                        {{ work_category.name }}
                    </a>
                    <hr class="w-100 my-3">
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}