{% extends "app/base.html" %}
{% load widget_tweaks %}

{% block work %}
<div class="container post">
    <div class="pb-3">
        <h1>案件投稿</h1>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="formwork py-3">
            {% render_field form.title class="form-control" placeholder="案件を入力" %}
        </div>
        <div class="formwork py-3">
            {% render_field form.address class="form-control" placeholder="現場住所を入力" %}
        </div>
        <div class="formwork py-3">
            {% render_field form.text class="form-control" placeholder="作業内容を入力" %}
        </div>
        <div class="formwork py-3">
            {% render_field form.staff class="form-control" placeholder="現場担当者を入力" %}
        </div>
        <div class="formwork py-3">
            {% render_field form.tel class="form-control" placeholder="担当者の電話番号を入力" %}
        </div>
        <div class="formwork py-3">
            {% render_field form.price class="form-control" placeholder="価格を入力" %}
        </div>
        <button class="btn btn-warning my-3" type="submit">投稿する</button>
    </form>
</div>
{% endblock %}