{% extends 'app/base_member.html' %}

{% block Image %}
<div class="jumbotron-fluid post_list_img mb-0 mt-100 d-flex justify-content-center mh-100">
    <div class="d-flex flex-column justify-content-center">
        <h1 class="display-4">案件</h1>
        <hr class="w-50">
    </div>
</div>
{% endblock %}

{% block work %}
<div class="container">
    <div class="row my-5 justify-content-center border-light border rounded py-5 px-2">
        <div class="col-8">
            {% if keyword %}
            <h4 class="mb-4">「{{ keyword }}」の検索結果</h4>
            {% endif %}
            <div class="row justify-content-md-center">
                {% for work in work_data %}
                <div class="card mb-3 mx-2 shadow-sm col-12">
                    <div class="container">
                        <div class="card-body row">
                            <div class="col-9">
                                <span class="card-title align-top">{{ work.title }}</span>
                            </div>
                            <a class="col-2 mr-1 btn btn-member text-light stretched-link"
                                href="{% url 'work_detail' work.id %}">詳細</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="title_category h5 mb-0 p-2 tag_member category_title shadow-sm rounded text-light mb-3">カテゴリ
            </div>
            <ul class="list-unstyled">
                {% for work_category in work_category_data %}
                <li>
                    <a class="text-dark" href="{% url 'work_category' work_category %}">
                        {{ work_category.name }}
                    </a>
                    <hr class="w-100 my-3">
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}