{% extends 'app/base.html' %}

{% block Image %}
<div class="jumbotron-fluid post_list_img mb-0 mt-100 d-flex justify-content-center mh-100">
    <div class="d-flex flex-column justify-content-center">
        <h1 class="display-4">Work</h1>
        <hr class="w-50">
    </div>
</div>
{% endblock %}

{% block work %}
<div class="container post mb-5">
    <div class="row">
        <div class="col-md-9">
            {% if keyword %}
            <h4 class="mb-4">「{{ keyword }}」の検索結果</h4>
            {% endif %}
            {% for work in work_data %}
            <div class="card mb-4 index">
                <div class="card-body">
                    <h2 class="card-title">{{ work.title }}</h2>
                    <p class="card-text">{{ work.content|truncatechars:100 }}</p>
                    <div class="btn btn_member">
                        <a class="text-light stretched-link" href="{% url 'work_detail' work.id %}">詳細</a>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    {{ work.created|date }} by {{ work.author }}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-12">
                    <div class="title_category h5 p-3 mb-0 category_title rounded text-dark">カテゴリ</div>
                    {% for work_category in work_category_data %}
                    <a class="text-light badge font-weight-light" href="{% url 'work_category' work_category %}">
                        {{ work_category.name }}
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}